<form [formGroup]="form">
    <div>
        <input [formControl]="firstName" placeholder="firstName">
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <span *ngIf="firstName.errors?.required">This field is required</span>
            <span *ngIf="firstName.errors?.maxlength">This field cannot be more than {{firstName.errors.maxlength.requiredLength}} characters</span>
        </div>
    </div>

    <div>
        <input [formControl]="lastName" placeholder="lastName">
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <span *ngIf="lastName.errors?.required">This field is required</span>
            <span *ngIf="lastName.errors?.maxlength">This field cannot be more than {{lastName.errors.maxlength.requiredLength}} characters</span>
        </div>
    </div>

    <div>
        <input [formControl]="email" placeholder="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors?.required">This field is required</span>
            <span *ngIf="email.errors?.maxlength">This field cannot be more than {{email.errors.maxlength.requiredLength}} characters</span>
            <span *ngIf="email.errors?.email">A valid email is required</span>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]>Cancel</button>
        <button mat-button (click)="submit2()" [disabled]="!form.valid || isBusy" cdkFocusInitial>{{primaryButtonLabel}}</button>
    </div>
</form>