<!-- <div *ngFor="let product of products" (click)="emitClick(product.id)">
    {{ product.name }}
</div> -->

<!-- <div *ngFor="let product of products" (click)="emitClick(product.id)" class="product-container">
    <app-product-card>
        <button action-object mat-mini-fab color="primary" (click)="addToCart($event)" style="transform: scale(.9);">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </app-product-card>
</div> -->




<ng-content select=".product"></ng-content>
