<h2>Card info</h2>

<form [formGroup]="form">
    <div class="mb-4">
        <app-form-field>
            <input [formControl]="name" placeholder="Name">
        </app-form-field>
    </div>

    <app-card-number-input></app-card-number-input>

    <div class="mb-4">
        <app-form-field>
            <input [formControl]="cvc" placeholder="cvc">
        </app-form-field>
    </div>

    <div class="mb-4">
        <app-form-field>
            <input [formControl]="expiryDate" placeholder="Expiry date">
        </app-form-field>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]>Cancel</button>
        <button mat-button color="primary" (click)="submit2()" [disabled]="!form.valid || isBusy" cdkFocusInitial>{{primaryButtonLabel}}</button>
    </div>
</form>