<div>{{user | json}}</div>

<button (click)="edit()">Edit</button>

<app-customer-payment 
    [cards]="cards" 
    (created)="newCard($event)" 
    (deleted)="deleteCard($event)"></app-customer-payment>

<div>
    <div *ngIf="!address">
        No default shipping address information

        <button (click)="updateAddress()">Create</button>
    </div>

    <div *ngIf="address">
        {{ address | json}}

        <button (click)="updateAddress(address)">Edit</button>
        <button (click)="deleteAddress()">Delete</button>
    </div>
</div>
