<header>
    <app-app-bar 
        [loggedIn]="(loggedIn$ | async)"
        [numberOfCartItems]="(numberOfCartItems$ | async)"
        (navToggled)="toggleNav()"
        (home)="goToHome()"
        (searchClicked)="openSearch()"
        (cart)="goToCart()"></app-app-bar>
    <mat-progress-bar *ngIf="loadingPage" color="primary" mode="indeterminate"></mat-progress-bar>
</header>

<div id="content">
    <div [@navSlideInandOut] *ngIf="navOpened" class="nav-drawer-container">
        <app-nav-drawer [user$]="user$" (clicked)="closeNav()"></app-nav-drawer>
    </div>

    <router-outlet></router-outlet>
</div>

<footer>
    <app-footer></app-footer>
</footer>

<div *ngIf="navOpened" class="nav-drawer-backdrop">
    <app-backdrop (clicked)="closeNav()"></app-backdrop>
</div>

