@use '~@angular/material' as mat;
@import '../../../../scss/utils/variables';

.active {
    color: mat.get-color-from-palette($primary-palette);
}

.star {
    transform: scale(.8);
    margin-right: -6px;
}