<div class="px-3 py-3">
    <div class="d-flex justify-content-between mb-4">
        <span class="brand">Store</span>
        <div class="d-flex flex-column align-items-end">
            <span>Connect with us:</span>
            <div style="color: white;">
                <mat-icon svgIcon="twitter"></mat-icon>
                <mat-icon svgIcon="facebook"></mat-icon>
                <mat-icon svgIcon="instagram"></mat-icon>
            </div>
        </div>
    </div>

    <div>
        <span class="d-inline-block mb-2">Be the first to learn about great offers!</span>
        <div class="d-flex">
            <app-form-field class="mb-4 d-block flex-grow-1">
                <input type="text" placeholder="jon.doe@example.com">
            </app-form-field>
            <div class="subscribe-button" matRipple><mat-icon>arrow_forward</mat-icon></div>
        </div>
    </div>
</div>
