@use '~@angular/material' as mat;
@import '../../../scss/utils/variables';

:host {
    display: inline-flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: grey;
    margin-right: 5px;

    &.active {
        background-color: mat.get-color-from-palette($primary-palette);
    }
}