$size: 26px;

:host {
    display: inline-flex;
    align-items: center;
    color: black;
    padding: .1rem;
    background-color: #ffffff;
    border-radius: 5px;

    button {
        width: $size;
        height: $size;
        border-radius: 5px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add {
        background-color: #feaa0a;
    }

    input {
        border: none;
        outline: none;
        width: fit-content;
        height: $size;
        width: $size;
        text-align: center;
    }

    .subtract {
        // background-color: gray;
        background-color: #ffffff;
    }
}